#!/bin/sh

# Exit on first error
set -e

# Parameter Overrides
OutputPath="${OutputPath:-../artifacts}"
Version=`cat ../version/number`

echo "Restoring dependencies"
npm install --silent --no-progress

echo "Building static assets"
npm run build --silent

echo "Publishing project"
TarName=$(npm pack --silent)
mv $TarName $OutputPath/artifacts.tar.gz

echo "Publishing complete"
